.icon-button {
    color: #0091ff;
    transition: color 0.3s;
    font-size: 45px;
}

.icon-button:hover {
    color: #0066cc;
}

.thead_tr, .tfoot_tr {
    background-color: #ef5e1e;
    color: white;
}

.custom-switch .custom-control-input:checked + .custom-control-label::before {
    background-color: #00bb00;
}

.stt {
    width: 5%;
    text-align: center;
}

.ten_danh_muc {
    width: 35%;
    text-align: left;
}

.mo_ta {
    width: 35%;
    text-align: left;
}

.trang_thai {
    width: 10%;
    text-align: center;
}

.hanh_dong {
    width: 15%;
    text-align: center;
}


